# Mac artifacts
.DS_Store

# Python stuff
.ipynb_checkpoints
__pycache__
*.pyc
scratch/

# Build artifacts
doc/_build
doc/modules/generated
doc/auto_examples
build/
dist/
*.egg-info/
.eggs/
.cache/
*.so*
*.c
*.pyd
cythonize.dat

# Cython annotations
reclab/metrics/*.html

# Test artifacts
.pytest_cache/

# Coverage
.coverage
.coverage.*

# pickled objects
*.pkl

# pycharm
.idea/
